<div class="context">
  <div class="col-md-12">
   
      <div class="card">
              <div class="card-header"><h5 class="title"> Araç Ekle</h5>
                

              </div>
              <div class="card-body">
                  <form [formGroup]="userAddForm">


                          <label for="content">Menü İsmi</label>


          <div class="form-group">
              <input type="text" id="title" formControlName="title"  class="form-control" placeholder="Menü İsmi"/>
      </div>
      <label for="content">Menü İçeriği</label>


          <div class="form-group">
              <input type="content" id="content" formControlName="content"  class="form-control" placeholder="Menü İçeriği"/>
      </div>


                  </form>
              </div>
              <div class="card-footer">
                      <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
              </div>
              

      </div>


  </div>
  
  
  

  

</div>
<div class="body">
    <label for="content">Menü Çıkar</label>
    <div class="col-md-12">
        <button class="btn btn-fill btn-primary" (click)="goToDelete()">Çıkar</button>
      </div>
</div>

